*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html{
    box-sizing: border-box;
    font-size: 62.5%; //1rem = 10px
    scroll-behavior: smooth;
}

body{
    font-family: 'Oswald', sans-serif;
}