.grid{
    display: grid;

    //7 rows all at min content
    grid-template-rows: 100vh repeat(5, min-content);

    grid-template-columns:[full-start] 
    minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) 
    [col-end]) [center-end] minmax(6rem, 1fr) [full-end];

    @media screen and (max-width: $bp-medium-small){
        //do not need a row because implicity grid will cover it
        grid-template-columns:[center-start] repeat(8, [col-start] minmax(min-content, 14rem) 
    [col-end]) [center-end];

    grid-template-rows: 80vh repeat(5, min-content);

   }


}