.section-introduction{
    // background-color: orangered;

    grid-column: center-start / center-end;
    grid-row: 1 / 2;

    display: grid;

    justify-content: center;
    align-content: center;
}