.section-portfolio{
    margin-top: 15rem;

    grid-column: center-start / center-end;
    grid-row: 6 / 7;

    display: grid;

    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: min-content repeat(7, 10rem);

    grid-gap: 3rem;


    @media screen and (max-width: $bp-medium-small){
          //do not need a row because implicity grid will cover it
        display: flex;
        flex-direction: column;
     }

    @media screen and (max-width: $bp-medium-small){
          //do not need a row because implicity grid will cover it
        margin-top: 10rem;
     }

    &__heading{
        text-align: center;
        grid-row: 1 / 2;
        grid-column: 1 / -1;
        font-size:4rem;
        margin-bottom: 4rem;
        font-weight: 500;

    }
}