.section-portfolio{
    margin: 20rem 0;

    grid-column: center-start / center-end;
    grid-row: 6 / 7;

    display: grid;

    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(7, 10rem);

    grid-gap: 3rem;
}