.section-what-i-do{

    grid-column: center-start / center-end;
    
    margin: 15rem 0;


    //have to redefine grid structure
    display: grid;

    //do not need a row because implicity grid will cover it
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    grid-gap: 2rem;

     align-items: start;


     @media screen and (max-width: $bp-smallest){
        margin: 0;
     }

}