.section-what-i-do{

    grid-column: center-start / center-end;
    grid-row: 3 / 4;


    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    grid-gap: 7rem;
    margin: 15rem 0;


    &__heading{
        text-align: center;
        grid-column: 1 / -1;
        font-weight: 400;
        font-size: 4rem;
    }
}