.about-me{
    grid-column: 2 / 3;
    justify-self: center;
    padding: 0 6rem;

    &__text{
        font-size: 4rem;
        font-weight: 600;
        letter-spacing: .2rem;
    }

    &__info{
        font-size:2rem;
        font-weight: 300;
    }
}