.certificate{
    transition: all .4s;
 
    @media screen and (max-width: $bp-medium){
        grid-column: 1 / -1;
        text-align: center;
        margin-top: 10rem;
     }
    

    &__link:active,
    &__link:visited{
        text-decoration: none;
        color: white;
        outline: none;
    }

    &__img{
        width:50%;
        height: auto;
    }
    
    &__heading{
        color: #002855;
        font-size: 2rem;
    }

    &__sub-heading{
        font-size: 1.4rem;
        width: 50%;
    }
    
    &__name{
        margin-top: 1rem;
        font-size: 1.8rem;
        font-weight: 300;
        // font-family: $font-secondary;
    }

    &__recipient{
        font-weight: 400;
        color: #AAA;
    }

    &__date{
        font-size: 1.8rem;
        font-weight: 300; 
        margin-bottom: 1rem;
    }

    &__issued{
        font-size: 1.8rem;
        font-weight: 400;
        color: #AAA;
      
    }
}