.hello{
    grid-row: 2 / 3;
    grid-column:  1 / 2;
    letter-spacing: .1rem;
    font-family: $font-secondary;
    // justify-self: center;
    align-self: center;
    justify-self: start;

    @media screen and (max-width: $bp-medium){
        margin-top: 10rem;
        padding: 2rem 10rem;
        justify-self: center;
    }
    @media screen and (max-width: $bp-smallest){
       margin-top: 0;
    }



    &__im{
        display: inline-block;
        background-color:$color-primary ;
        font-size: 2rem;
        padding: 1rem 2rem;
        border-top-left-radius: 2rem;
        border-top-right-radius: 2rem;
        border-bottom-right-radius: 2rem;
        color: white;
        font-weight: 300;
        font-family: $font-primary;
    
    }

    &__name{
        font-size: 5rem;
        margin-top: 2rem;

        @media screen and (max-width: $bp-smallest){
            font-size: 4rem;
         }
      
    }   

    &__link{
        text-decoration: none;
        color: black;
    }
    &__stack{
        font-size: 2rem;
        margin-top: 1rem;

    }

    &__email{
        font-size: 1.4rem;
        margin-top: 4rem;
        display: flex;
        align-items: center;
        font-weight: 400;
        cursor: pointer;


        @media screen and (max-width: $bp-smallest){
            margin-top: 2rem;
         }
    }

    &__email-icon{
        margin-right: 1rem;
        fill: black;
        transition: all .3s;
    }

    
    &__email:hover &__email-icon{
        fill: $color-primary;
    }

    &__number{
        font-size: 1.3rem;
        margin-top: 2rem;
        display: flex;
        align-items: center;
        cursor: pointer;
        font-weight: 400;
    }

    &__phone-icon{
        margin-right: 1rem;
        transition: all .3s;
    }

    &__number:hover &__phone-icon{
        fill: $color-primary;
    }

    &__icon{
        width: 2rem;
        height: 2rem;
    }

    &__icons{
        display: flex;
        align-items: center;
        margin-top: 3rem;
        margin-left: 3rem;


        &--1{
            margin-right: 3rem;
        }

        &--1,
        &--2{
            padding: 1rem;
            transition: all .3s;
            border-radius: .4rem;
        }

        &--1:hover,
        &--2:hover{
            background-color: black;
            fill: $color-primary;
          
        }
    }
}