.hero{
    grid-row: 2 / 3;
    grid-column:  2 / 3;

    justify-self: center;
    align-self: center;

    width: 30rem;
    height: 30rem;
    border-radius: 50%;
    overflow: hidden;
   
    border: 2rem solid rgba(black, .06);
    position: relative;


    &__img{
        margin-left: -21em;
        margin-top: -8rem;

    }

    &__border{
        position: absolute;
        top: 0;
        left: 0;
        transform: translate(-50%, -50%);
        background-color: red;
        width: 40rem;
        height: 40rem;
        border-radius: 50%;

    }
}