.popup {
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba($color-black, .8);
    z-index: 9999;
    opacity: 0;
    visibility: hidden;
    transition: all .3s;

    &__content {
        position: absolute;
        top: 45%;
        left: 50%;
        width: 75%;
        background-color: $color-white;
        box-shadow: 0 2rem 4rem rgba($color-black, .2);
        border-radius: 3px;
        // display: table;
        overflow: hidden;
        opacity: 0;
        transform: translate(-50%, -50%) scale(.25);
        transition: all .5s .2s;

        padding: 6rem;

        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-template-rows: repeat(4, min-content);
        grid-column-gap: 3rem;
        grid-row-gap: 3rem;


        @media screen and (max-width: $bp-super-large){
            top: 50%;
            padding: 4rem;

        }
        @media screen and (max-width: $bp-medium-small){
            display: flex;
            flex-direction: column;

        }


      

        
    
    }

  

      
    &__project-name{
        grid-column: 1 / 2;
        grid-row: 1 / 2 ;
        font-size: 4rem;
        border-bottom: 2px solid $color-grey-dark-3;



    }

    &__text{
        font-size: 1.5rem;
        font-weight: 400;
        opacity: .8;

        @media screen and (max-width: $bp-medium-small){
            
            grid-row: 3 / 4;
            grid-column: 1 / -1;
        }
    }

    &__img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        grid-column: 2 / 3;
        grid-row: 1 / 5;

        // @media screen and (max-width: $bp-super-large){
        //     font-size: 40%;
        // }

        @media screen and (max-width: $bp-medium-small){
            
            grid-row: 2 / 3;
            grid-column: 1 / -1;
            height: auto;
        }
    }

    &__technologies{
        grid-column: 1 / 2;
        align-self: start;

        @media screen and (max-width: $bp-medium-small){
            
            grid-row: 4 / 5;
            grid-column: 1 / -1;
            height: auto;
        }
    }

    &__btn{
        grid-column: 1 / 2;
        justify-self: start;
        align-self: start;
    }



    &__close {
        &:link,
        &:visited {
            color: $color-grey-dark;
            position: absolute;
            top: .01rem;
            right: 2rem;
            font-size: 6rem;
            text-decoration: none;
            display: inline-block;
            transition: all .2s;
            line-height: 1;
            outline: none;
        }

        &:hover {
            color: $color-primary;
            
        }
    }
}

.open{
    opacity: 1;
    visibility: visible;

    
     .popup__content {
        opacity: 1;
        transform: translate(-50%, -50%) scale(1);
    }
}