.portfolio-card{

    border-radius: 1rem;

    position: relative;

    overflow: hidden;

    @media screen and (max-width: $bp-medium-small){
        //do not need a row because implicity grid will cover it
  
        width: 80%;
        height: 100%;
        margin: 0 auto;

   }

   
    &:hover{
        cursor: pointer;
    }

    &:hover &__img{
       transform: scale(1.2);
    }
    &:hover::after{
        background-color: $color-primary-2;
    }
   

    &::after{
        content: "";
        display: block;
        position: absolute;
        background: transparent;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        opacity: .9;
        z-index: 1;
        border-radius: 1rem;       
        transition: all .4s;

    }

    &__project-name{
    position: absolute;
    top: 62%;
    left: 50%;
    transform: translate(-10rem, -50%);
    color: white;
    font-size: 2rem;
    letter-spacing: .1rem;
    font-weight: 400;
    opacity: 0;
    transition: all .4s;
    z-index: 2;
    }

    &:hover &__project-name{
        transform: translate(-50%, -50%);

    }

    &__icon{
        width: 3rem;
        height: 3rem;
        fill: white;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 2;
        opacity: 0;
        transition: all .4s;

    }

    &:hover &__icon{
        opacity: 1;
    }

    &:hover &__project-name{
        opacity: 1;
    }

    &__img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
        border-radius: 1rem;
        transition: all .4s;
    }

 

    &--1{
        grid-row: 2 / 5;
        grid-column: 1 / 3;

      

    }
    &--2{
        grid-row: 2 / 4;
        grid-column: 3 / 5;

     
    }
    &--3{
        grid-column: 5 / 7;
        grid-row: 2 / 5;
    }
    &--4{
        grid-column: 1 / 3;
        grid-row:  5 / 7;
    }
    &--5{
        grid-column: 3 / 5;
        grid-row: 4 / 6;

    }
    &--6{
        grid-row: 5 / 7;
        grid-column: 5 / 7;

     
    }
    &--7{
        grid-row: 7 / 9;
        grid-column: 1 / 3;
      
    }
    &--8{
        grid-row: 6 / 9;
        grid-column: 3 / 5;
    }
    &--9{
        grid-row: 7 / 9;
        grid-column: 5 / 7;
    }
}