.primary-card{
    padding: 2rem;
    width: 80%;
    box-shadow: 0 0 4rem rgba(black, .1);
    margin-top: 3rem;
    font-size: 1.6rem;
    opacity: .8;
    font-family: $font-secondary;

    @media screen and (max-width: $bp-medium-small){
        justify-self: center;
    }
    
    &__heading{
        font-weight: 600;
   
        font-size: 2.2rem;
    }
    &__location{
        color: $color-primary;

        font-style: italic;
        font-weight: 600;
        font-size: 2rem;
        margin-top: 1rem;
    

    }

    &__year{
        color: $color-primary;

        font-weight: 300;
        font-size: 1.2rem;
        margin-top: .5rem;
    }

    &__text{
        margin-top: .5rem;
        font-weight: 400;
        font-size: 1.3rem;
        line-height: 1.5;
    }
    
    &__btn{
        padding: 1rem 4rem;
        margin-top: 2rem;
    }
   
}