$color-black: #000;
$color-white: #fff;


$color-secondary: #81de9d;


$color-primary: #0bceaf;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-white: #fff;
$color-black: #000;


// FONT
$default-font-size: 1.6rem;


// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;


//fonts
$font-primary: 'Oswald', sans-serif;
$font-secondary: 'Roboto Condensed', sans-serif;

//mobile responsive
$bp-largest: 75em; // 1200 px
$bp-large: 62.5em; //1000px
$bp-medium: 50em;  //800px
$bp-small: 37.5em; //600px
$bp-smallest: 31.25em;

